@font-face {
    font-family: 'Roboto Slab';
    src: url('./robotoSlab.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('./robotoSlab.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('./robotoSlab.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('./robotoSlab.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
    font-weight: 400;
}