/* Body styles */
body {
    background-image: url("img/main-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


/* Content root */
.root {
    width: 80vw;
    height: 80vh;
    background-color: transparent;
    border-radius: var(--window-border-radius, 10px);
    max-width: 1000px;
    overflow: hidden;
    box-shadow: var(--overlay-shadows);
    border: 1px solid var(--window-border-color, rgba(115, 115, 115, .5));
    transition: border-radius 1s ease-out;
}

/* More info fab */
.hover-fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 2;
}

@media screen and (max-width: 699px) {
    .root {
        width: 100%; /* Remove space between root and body */
        height: 100%;
        border-radius: 0;
    }
    /* Change regular FAB into mini FAB */
    .hover-fab {
        width: 40px;
        height: 40px;
    }
}

/* Content holder */
main {
    padding: 20px 20px 20px 20px;
    margin-left: var(--sidebar-width, 160px);
    background-color: #222;
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow-y: auto;
}
.mount {
    /* Layout grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    grid-template-areas: "adj re";
}
@media screen and (max-width: 579px) {
    /* Stack columns on top of each other */
    .mount {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
                "adj"
                "re";
    }
}
.adjustment { grid-area: adj; }
.results { grid-area: re; }

/* Sidebar */
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    max-height: 100%;
    width: var(--sidebar-width, 160px); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
}


/* Bigger dialog */

.expanded-dialog.mdc-dialog .mdc-dialog__surface {
    min-width: 100%;
    min-height: 80%;
}
.expanded-dialog.mdc-dialog > .mdc-dialog__container {
    min-width: 85%;
}

/* Customise native elements so that they don't look like windows 95 */
/* Remove add/subtract buttons from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}